.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: $default-padding;

    img {
        height: 20px;
    }

    .header-links {
        transform: translateY(-3px);
        a {
            font-size: 14px;
            font-weight: 450;
            text-decoration: none;
            color: black;
            &:not(:last-child) {
                margin-inline-end: 30px;
            }
            &:hover {
                color: rgb(151, 149, 149);
            }
        }
    }

    button {
        @include get-started-btn;
    }
}
